<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.HistoryMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssm.entity.History">
        <id column="id" property="id" />
        <result column="aid" property="aid" />
        <result column="title" property="title" />
        <result column="address" property="address" />
        <result column="reason" property="reason" />
        <result column="begin_time" property="beginTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, aid, title, address, reason, begin_time AS beginTime
    </sql>

</mapper>
